@model Reprografia.Models.ViewModels.SolicitacaoIndexModel
<td>
    @Html.DisplayFor(model => model.AnoSeq)
</td>
<td>
    @Html.DisplayFor(model => model.Formato)
</td>
<td>
    @Html.DisplayFor(model => model.DataSolicitacao)
</td>
<td>
    @Html.DisplayFor(model => model.Suporte)
</td>
<td>
    @Html.DisplayFor(model => model.UserName)
</td>
<td>
    @Html.DisplayFor(model => model.DataLimite)
</td>
<td>
    @Html.DisplayFor(model => model.Avaliado)
</td>
